* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
  font-family: $poppins;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

// REUSABLE CSS

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(90%, $container-max-width);
  margin-inline: auto;
}

.title-header {
  font-weight: $title-size;
}

.btn {
  background-color: $violet;
  padding: 1rem;
}
