.chatroom {
  width: min(90%, 1000px);
  margin-inline: auto;

  border: 3px solid black;
}

.chatroom__header {
  width: 100%;
  background-color: $lavender;
}

.chatroom__body {
  height: 80vh;

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  &.sent {
    color: $lavender;
    align-self: flex-end;
  }
}

.chatroom__footer {
  position: relative;
  width: 100%;

  background-color: $lavender;

  & button {
    position: absolute;
    padding: 5px;

    top: 0;
    right: 0;
    max-height: 100%;
  }
}
