.chatroom {
  width: min(90%, $box-max-width);
  margin-inline: auto;

  border: 3px solid black;

  &__header {
    width: 100%;
    background-color: $lavender;
  }

  &__body {
    height: 80vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    gap: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    position: relative;
    width: 100%;

    background-color: $lavender;

    & button {
      position: absolute;
      width: 4rem;
      height: 100%;
      top: 0;
      right: 0;
      max-height: 100%;
    }
  }
}

.message {
  max-width: 500px;
  word-wrap: break-word;
  padding: 10px;
  border: 2px solid $lumber;
  border-radius: 15px;
  &.sent {
    color: $lavender;
    align-self: flex-end;
    flex-direction: reverse;
  }
  &.received {
    align-self: flex-start;
  }
  &__logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
  &__content {
    font-weight: $text-size;
  }
}
