@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

$thistle: #e0bbe4;
$lavender: #957dad;
$violet: #d291bc;
$cotton-candy: #fec8d8;
$lumber: #ffdfd3;

// TYPOGRAPHY
$poppins: "Poppins", sans-serif;

$text-size: 300;
$normal-size: 400;
$title-size: 700;

// SIZE
$container-max-width: 500px;
$box-max-width: 1000px;

// Elements
$buttons: (
  ".button, a.button, button, [type=submit], [type=reset], [type=button]"
);
$forms: (
  "[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea"
);
