$thistle: #e0bbe4;
$lavender: #957dad;
$violet: #d291bc;
$cotton-candy: #fec8d8;
$lumber: #ffdfd3;

// Elements
$buttons: (
  ".button, a.button, button, [type=submit], [type=reset], [type=button]"
);
$forms: (
  "[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea"
);
